body{
    background-color:rgb(9, 255, 30)
    text-align: center;
    text-transform: capitalize;
}

#card{
    background-color: rgb(0, 153, 255);
    width: 20%;
    margin-left: 750px;
    margin-top: 300px;
}
